.card-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 16px; 
    justify-content: center; 
    padding: 16px; 
    max-width: 90vw; 
    margin: 0 auto; 
}

.card {
    width: 250px;
    background-color: #232B2F;
    border-radius: 12px;
    padding: 16px;
    border: 2px solid #adbbC2;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
}

.card-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 0 16px;
}

.number {
    font-size: 20px;
    font-weight: bold;
  }
  
  .name {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    flex-grow: 1;
    text-transform: capitalize;
  }

  .img-container {
    width: 200px; 
    height: 160px;
    display: flex; 
    align-items: flex-end; 
    justify-content: center;
    border-radius: 5%; 
    padding-bottom: 8px;
    margin-top: 8px;
  }

.card-img {
    width: 124px;
    height: 124px;
    object-fit: contain;
    filter: drop-shadow(8px 8px 12px rgb(22, 22, 22));
}

.card-img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.types {
    display: flex; 
    justify-content: center; 
    gap: 8px;
    margin-top: 16px;
  }

.type {
    display: flex; 
    align-items: center; 
    gap: 0.2rem;
    padding: 0.2rem 0.4rem; 
    border-radius: 5%;
    font-size: 0.75rem; 
    text-transform: capitalize; 
    color: #fff;
  }

  .type img { 
    width: 32px; 
    height: 32px; 
}


